/* -*- mode:css coding:utf-8 -*- */

$max-width: 900px;
$base-font-color: #444;/*#444*/

#comments { display: none; }
body {
  font-family:"ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 1.0em;
  font-weight: normal;
  color: #{$base-font-color};
  margin: 0px;
  padding: 0px;
  background-color:#fff;
}

h1 {
  font-family:"ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

h2, h3, h4, h5, h6 {
  font-family:"ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 1.3em;
  font-weight: normal;
}

.site_metas {
  background-color:#fff;
  font-size: 1.2em;
  color: #{$base-font-color};
  a {
  	color: #{$base-font-color};
  }
}

header[role="banner"] {
  @extend .site_metas;
  a {
    text-decoration: none;
    &:hover{
      text-decoration: underline;
      background-color: yellow;
    }
  }
  hgroup{
    h1 {
      margin: 0px;
      padding: 0px;
    }
    h2 {
    	display: none;
    }
    margin: 0px;
    padding: 0px;

  }

  margin: 30px 50px 50px;
  @media screen and (max-width: 600px) {
    margin: auto;
    text-align: center;
  }
  padding: 0px;
  position: relative;
}

/* social-links */
#social-links {
  right: 0px;
  bottom: 0px;
  position: absolute;
  @media screen and (max-width: 600px) {
    position: static;
  }
  > ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    > li {
      display: inline-block;
      margin: 0px 6px;
      overflow: hidden;
    }
  }
}
@mixin social-links-base($img){
  @include mask-image('socialis/glyph/'+$img+'.png');
}
.maskImage{
  #social-links > ul > li > a {
    background-color: #999;
    display: block;
    text-indent: -999999em;
    position: relative;
    top: 0px;
    left: 0px;
    padding: 0px;
  }

  @each $name in github, twitter, tumblr, feed {
    #social-links-#{$name} {
      > a {
        @include social-links-base(#{$name});
        &:hover {
          @if $name == twitter { background-color: #39c; }
          @else if $name == tumblr { background-color: #357; }
          @else if $name == feed { background-color:#e93; }
          @else { background-color: #ccc; }
        }
      }
    }
  }
}
/* /social-links */

#content{
  margin: 8px auto;

  max-width: #{$max-width};
  a{
    color: #33c;
    font-size: 1.1em;
  	font-weight: normal;
  }
  a:visited{
    color: #33c;
  }
  a:hover{
    background-color: yellow;
  }
  dl{
    margin: 1em;
  }
  dt{
    margin-top: .6em;
    font-style: italic;
    left:0px;
  }

  /*细边框样式*/
	table{
    border-collapse:collapse;
  }
	table,th,td{
    border:1px solid #ccc;
    padding:10px 20px;
  }

	/*设置表头背景颜色*/
	th{background:#fff}
	/*鼠标移上来，行背景变为黄色*/
	tr:hover td{
    background:yellow
  }

	/*隔行变色*/
  table tr:nth-child(odd){background:#F4F4F4;}

}


/*标题*/
.entry > header{
  margin: 50px 0px;
  font-size: 1.3em;
  font-weight: normal;
}

/*日期*/
p.meta{
  text-align: right;
}

footer[role="contentinfo"]{
  @extend .site_metas;
  text-align: center;
  margin: 0px;
  padding: 8px;
  font-size: 90%;
  p {
    margin: 0px;
  }
}

/* archive page */
#blog-archives  ul  li{
  list-style-type: null;
  font-size: 1.0em;
  font-weight: normal;
}

/* disqus */
#dsq-reply > h3, #dsq-account-dropdown, #dsq-subscribe { display: none; }
#disqus_thread #dsq-content #dsq-global-toolbar { margin: 0.3em 0px; }
#dsq-reply{ margin: 0.3em}
